.swiper-banner {
    height: 550px;
    @media (max-width:768px) {
        height: 400px;
    }
  }
.banner1{
    background: url(https://cdn.pixabay.com/photo/2015/10/12/15/18/store-984393_1280.jpg) center;
    background-size: cover;
}
.banner2{
    background: url(https://cdn.pixabay.com/photo/2015/10/12/15/18/clothing-store-984396_1280.jpg) center;
    background-size: cover;

}
.banner3{
    background: url(https://cdn.pixabay.com/photo/2017/01/14/10/03/fashion-1979136_1280.jpg)center;
     background-size: cover;
}
